<div class="login">
   
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field">
        <%= f.label :email, :style => 'color: white;' %><br />
        <%= f.email_field :email, :style => 'color: #191919; background-color: #f2f7b9; border-color: #153147; border-width: 1px; ', autofocus: true %>
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      
      <div class="field">
        <%= f.label :current_password, :style => 'color: white;' %><br />
        <%= f.password_field :current_password, :style => 'color: #191919; background-color: #f2f7b9; border-color: #153147; border-width: 1px; ', autocomplete: "off" %>
      </div>
    
      <div class="field">
        <%= f.label :password, :style => 'color: white;' %></i>
          <% if @minimum_password_length %>
            <em style ="color: white;">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        <br />
        <%= f.password_field :password, :style => 'color: #191919; background-color: #f2f7b9; border-color: #153147; border-width: 1px; ', autocomplete: "off" %>
       
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation, :style => 'color: white;' %><br />
        <%= f.password_field :password_confirmation, :style => 'color: #191919; background-color: #f2f7b9; border-color: #153147; border-width: 1px; ', autocomplete: "off" %>
      </div>
    
      
      <br/>
      <div class="">
        <%= f.submit "Update Password", :style => 'color: white; background-color: rgba(255,141, 0, 1); border-width: 0; ', :class => 'actions' %>
      </div>
    <% end %>
    <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :style => 'color: white; background-color: rgba(255,141, 0, 1); border-width: 0; ' %>
    
    <%= link_to "I change my mind..", :back,  :style => 'color: white;'  %>
</div>
