
<div class="login">

  <div class="sign-up-bar">
      <h1 style="color: white;">Sign up</h1>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        
        <div class="field">
          <%= f.label :username, :style => 'color: white;' %><br />
          <%= f.text_field :username, :style => 'color: #191919; border-color: #153147; border-width: 1px; ', autofocus:true %>
        </div>
        
      
        <div class="field">
          <%= f.label :email, :style => 'color: white;' %><br />
          <%= f.email_field :email, :style => 'color: #191919; border-color: #153147; border-width: 1px; '%>
        </div>
      
        <div class="field">
          <%= f.label :password, :style => 'color: white;' %>
          <% if @minimum_password_length %>
          <em style="color: white;">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, :style => 'color: #191919; border-color: #153147; border-width: 1px; ', autocomplete: "off" %>
        </div>
      
        <div class="field">
          <%= f.label :password_confirmation, :style => 'color: white;' %><br />
          <%= f.password_field :password_confirmation, :style => 'color: #191919; border-color: #153147; border-width: 1px; ', autocomplete: "off" %>
        </div>
      
        <div class="">
          <%= f.submit "Sign up", :class => 'actions' %>
        </div>
      <% end %>
      
    <%= render "devise/shared/links" %>
  </div>
</div>

<style>
  body {
    background-color: #235277;
  }
  
  input { 
  	width: 100%; 
  	margin-bottom: 10px; 
  	background: rgba(239, 244, 183, 1);
  	border: 2px;
  	border-color: black;
  	outline: none;
  	padding: 10px;
  	font-size: 13px;
  	color: #fff;
  	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  	border: 0px solid rgba(0,0,0,0.3);
  	border-radius: 4px;
  	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  	-webkit-transition: box-shadow .5s ease;
  	-moz-transition: box-shadow .5s ease;
  	-o-transition: box-shadow .5s ease;
  	-ms-transition: box-shadow .5s ease;
  	transition: box-shadow .5s ease;
  }

  input:focus { 
      box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
  }
</style>