<div class="row container-fluid">
    
    <div class="col-xs-3">
        <div class="panel recommends">
            <div class="panel-body panel-margin-container recommends">
                <p>Cover Image/360 image/360 video</p>
                <hr>
                <p>Current active user</p>
                <hr>
                <p>User stats</p>
                <hr>
                <p>
                
                <ol class="breadcrumb">
                <li class="active">
                <a href="#">
                <span style="color:  #66cdaa; font-size: 22pt" data-toggle="tooltip" data-placement="bottom" title="Audio">
                <i class="fa fa-headphones" aria-hidden="true"></i>
                </span>
                </a>
                </li>
                        	
                <li class="active">
                <a href="#">
                <span style="color: #7FACFF; font-size: 20pt" data-toggle="tooltip" data-placement="bottom" title="text">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </span>
                </a>
                </li>
                    
                <li class="active">
                <a href="#">
                <span style="color: #f7a868; font-size: 22pt" data-toggle="tooltip" data-placement="bottom" title="Media">
                <i class="fa fa-video-camera" aria-hidden="true"></i>
                </span>
                </a>
                </li>
                        	
                <li class="active">
                <a href="#">
                <span style="color: #9c3e60; font-size: 22pt" data-toggle="tooltip" data-placement="bottom" title="Image">
                <i class="fa fa-camera-retro" aria-hidden="true"></i>
                </span>
                </a>
                </li>
                </ol>  
                
                </p>
            </div>
        </div>
        
        
        <div class="panel">
            <div class="panel-body panel-margin-container ad-panel">
                <p>You most recent activity </p>
            </div>
        </div>
    </div>

       <!-- Center Panel begins here, -->
    <div class="col-xs-6">
        <div class="row">
            <%= render '/components/post_form' %><br>
            <% for @p in @posts %>
            
            <div class="panel">
                <div class="panel-body post-margin-container ">
                <p class="user-avatar row">
                    <div class="breadcrumb">
                    <li><img class="user-avatar img-rounded" src="/icon.png"></img></li>
                                                
                    <div class="panel">
                    <li class="post-owner">
                    <a href="/user/<%= current_user.username %>">
                    <i class="fa fa-link" aria-hidden="true"></i>
                    <%= User.find_by(@p.user_id).username %> 
                    </a>
                    </li>
                    </div>    
                </p>
                </div>
                                                
                <div class="panel-body post-margin-container">
                <p class="post-content"><%= @p.content %></p>
                </div>
                                               
                <div class="panel-body post-margin-container">
                    <div class="caption">
                    <p class="col-sm-offset-9 mid-panel-icon">
                        <i class="fa fa-reply fa-links" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="reply"></i>
                        <i class="fa fa-heart fa-links" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="like"></i>
                        <i class="fa fa-info fa-links" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="info"></i>
                        <i class="fa fa-anchor fa-links" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Anchor post"></i>
                        <i class="fa fa-caret-down fa-links" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="More options"></i>
                    </p>
                    </div>
                                
                    <span class="post-created">
                    <%= @p.created_at.to_formatted_s(:short) %>
                    </span>
                </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
        
 
     <!-- Right button group Panel 1 begins here -->
    <div class="col-xs-3">
        <div class="panel recommends">
            <div class="panel-body panel-margin-container recommends">
               <p>Recommended</p>
               <hr class="hr-rec">
               <p>Projects</p>
               <hr>
               <p>Active Tutors</p>
               <hr>
               <p>Sponsors</p>
            </div>
        </div>
        
        <div class="panel">
            <div class="panel-body panel-margin-container ad-panel">
                <p>relevant ads</p>
            </div>
        </div>
    </div>
</div>

  

