
<div class="row container-fluid prof-row-pf ">
    <!-- Center Panel begins here, -->
    <p/><br/>
    <div class="col-xs-6 col-md-offset-2 mid-col panel-center-pf">
        
        <div>
            <%= render '/components/post_form' %>
        </div>
        
        <% for @p in @posts %>
            
            <div class="panel panel-default content-panel-hm">
                <div class="panel-body">       
                    <div class="col-sm-1 user-avatar-title">
                        <img class="img-rounded user-avatar-profile" src="/icon.png"></img> 
                    </div>
                    
                    <div class="col-sm-10">
                        <div class="post-title">
                            <a class="" accesskey="" data-gt="" href="/user/<%= User.find(@p.user_id).username %>" title="" data-testid="" >
                                <span class="post-owner-profile"><%= User.find(@p.user_id).username %></span>  
                                <span class="post-date">@<%= @p.created_at.to_formatted_s(:short) %></span>
                            </a>
                        </div>
                        <div class="content-container-profile">
                            <span class="post-content-profile container"><%= @p.content %></span>
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                        <div class="post-links">
                            <span class="reply-icon">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                                <span class="reply-text">Comment</span>
                            </span>
                                
                            <span class="like-icon">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <span class="like-text">Like</span>
                            </span>
                            
                            <span class="share-icon">
                                <i class="fa fa-retweet" aria-hidden="true"></i>
                                <span class="share-text">Share</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>    
        <% end %>
    </div>
    
    
    
    
    
    <div class="col-xs-3 ">
        <div class="panel panel-default panel-bottom-pf">
            <div class="panel-body panel-margin-container">
               
               <div class="rec-panel-top">
                   <div class="rec-container">
                       <div class="rec-content">
                           <ul>
                               <span class="rec-guide">
                                   Trending
                                   
                                   <a>
                                       <!-- Displayed icon -->
                                       <span class="rec-icon">
                                           <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                       </span>
                                       
                                       <!-- Displayed name -->
                                       <span class="rec-display"></span>
                                   </a>
                                   <hr class="rec-guide">
                               </span>
                               
                               <span class="rec-guide">
                                   Recommended Projects
                                   
                                   <a>
                                       <!-- Displayed icon -->
                                       <span class="rec-icon">
                                           
                                           <span class="glyphicons glyphicons-camp-fire"></span>
                                       </span>
                                       
                                       <!-- Displayed name -->
                                       <span class="rec-display"></span>
                                   </a>
                                   <hr class="rec-guide">
                               </span>
                               
                               <span class="rec-guide">
                                   Active tutors
                                   
                                   <a>
                                       <!-- Displayed icon -->
                                       <span class="rec-icon"></span>
                                       
                                       <!-- Displayed name -->
                                       <span class="rec-display"></span>
                                   </a>
                                   <hr class="rec-guide">
                               </span>
                               
                               <span class="rec-guide">
                                   Find a sponsors
                                   
                                   <a>
                                       <!-- Displayed icon -->
                                       <span class="rec-icon"></span>
                                       
                                       <!-- Displayed name -->
                                       <span class="rec-display"></span>
                                   </a>
                               </span>
                           </ul>
                       </div>
                   </div>
               </div>
            </div>
        </div>
        
        
        <div class="panel panel-default panel-bottom-pf">
            <div class="panel-body panel-margin-container">
               
               <div class="rec-panel-top">
                   <div class="rec-container">
                       <div class="rec-content">
                           
                            <span class="this-sticky">
                                <span class="this-sticky-container">
                                    <span class="this-sticky-content">
                                        <i class="fa fa-sticky-note-o" style="color: #44aacc;" aria-hidden="true"></i>
                                        Sticky notes. 
                                        <br>Pop to front on hover. 
                                        <br>Random color for each note
                                        <br> Link to view all sticky notes
                                        
                                        
                                        <br><p>Add new note option</p>
                                    </span>
                                </span>
                            </span>
                           
                           
                           
                       </div>
                   </div>
               </div>
            </div>
        </div>
        
        <div class="panel panel-default panel-bottom-pf">
            <div class="panel-body panel-margin-container">
               
               <div class="rec-panel-top">
                   <div class="rec-container">
                       <div class="rec-content">
                           
                            <span class="this-sticky">
                                <span class="this-sticky-container">
                                    <span class="this-sticky-content">
                                        <i class="fa fa-sticky-note-o" style="color: #44aacc;" aria-hidden="true"></i>
                                        Email List
                                </span>
                            </span>
                           
                           
                           
                       </div>
                   </div>
               </div>
            </div>
        </div>
        
        
        <div class="panel panel-default panel-bottom-pf ">
            <div class="panel-body">
                
                <div class="feed">
                    
                    <div class="act-tab">
                        
                        <ol class="breadcrumb">
                        <li class="active">
                        <a href="#">
                        <span style="color:  #66cdaa; font-size: 10pt" data-toggle="tooltip" data-placement="bottom" title="Followers">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                            Current user's active project's mile stones.
                            <br>
                            Showed in in branch format.
                        </span>
                        </a>
                        </li>
                        </ol>  
                    </div>
                    
                    <h4> </i> Live feeds </h4>
                    Live feed on projects you're contributing to. 
                    <br> 
                    Only visible to current user. 
                    <br>
                    Publication requires concent from all parties. 
                    <br>

                </div>
            </div>
        </div>
        
        
    </div>
</div>

