<div class="row container-fluid">
    <div class="col-xs-3 panel-top">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <div class="col-sm-1 ava">
                        <img class="user-avatar-profile-pf" src="/icon.png"></img>
                    </div><br>
                
                    <div class="col-sm-2 user-name-home-pf"> 
                        <a href="/user/<%= current_user.username %>">
                            <span ><%= current_user.username %></span>
                        </a>
                    </div>
                    
                
                    <div class="act-tab-pf">
                        
                        <ol class="breadcrumb">
                        <li class="active">
                        <a href="#">
                        <span style="color:  #66cdaa; font-size: 12pt" data-toggle="tooltip" data-placement="bottom" title="Audio">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        </a>
                        </li>
                        
                                	
                        <li class="active">
                        <a href="#">
                        <span style="color: #70b0c3; font-size: 12pt" data-toggle="tooltip" data-placement="bottom" title="text">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>
                        </a>
                        </li>
                            
                        <li class="active">
                        <a href="#">
                        <span style="color: #f7a868; font-size: 12pt" data-toggle="tooltip" data-placement="bottom" title="Media">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </span>
                        </a>
                        </li>
                                	
                        <li class="active">
                        <a href="#">
                        <span style="color: #9c3e60; font-size: 11pt" data-toggle="tooltip" data-placement="bottom" title="Image">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                        </span>
                        </a>
                        </li>
                     
                        <li class="active">
                        <a href="#">
                        <span style="color: #9c3e60; font-size: 10pt" data-toggle="tooltip" data-placement="bottom" title="Image">
                        <i class="fa fa-archive" aria-hidden="true"></i>
                        </span>
                        </a>
                        </li>
                        </ol>  
                    </div>
                </p>
                
                
                <div class="feed">
                </div>
            </div>
        </div>
    </div>

    <!-- Center Panel begins here, -->
    <div class="col-xs-6 mid-col">
       
        <% for @p in @posts %>
            
            <div class="panel panel-default content-panel">
                <div class="panel-body ">       
                    <div class="col-sm-1">
                        <img class="img-rounded user-avatar-profile" src="/icon.png"></img> 
                    </div>
                    
                    <div class="col-sm-10">
                        <div class="post-title">
                            <span class="post-owner-profile"><%= User.find(@p.user_id).username %></span>  
                            <span class="post-date">@<%= @p.created_at.to_formatted_s(:short) %></span>
                        </div>
                        <div class="content-container-profile">
                            <span class="post-content-profile container-fluid"><%= @p.content %></span>
                        </div>
                    </div>
                    
                    <div class="col-sm-11">
                        <p>
                            <span class="post-tags">Tags</span>
                        </p>
                    </div>
                    
                    <div class="col-sm-12">
                        <div class="post-links">
                            <span class="reply-icon">
                                <i class="fa fa-reply" aria-hidden="true"></i>
                                <span class="reply-text">Reply</span>
                            </span>
                                
                            <span class="like-icon">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <span class="like-text">Like</span>
                            </span>
                            
                            <span class="share-icon">
                                <i class="fa fa-retweet" aria-hidden="true"></i>
                                <span class="share-text">Share</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>    
        <% end %>
    </div>
    
    
    
    
    
    <div class="col-xs-3">
        <div class="panel panel-default" >   
            <div class="panel-body">
               <p>Projects you're following</p>
            </div>
        </div>
    
        <div class="panel panel-default" >   
            <div class="panel-body">
               <p>You Sponsors</p>
            </div>
        </div>
    </div>
</div>

