<div class="login">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
  
    <h1 style="color: white;">Login</h1>   
  
    <div class="field">
      <%= f.label :email, :style => 'color: white;' %><br />
      <%= f.email_field :email, :style => 'color: #191919; border-color: #153147; border-width: 1px; ', autofocus: true %>
    </div>
          
    <div class="field">
      <%= f.label :password, :style => 'color: white;' %><br />
      <%= f.password_field :password, :style => 'color: #191919; border-color: #153147; border-width: 1px; ', autocomplete: "off" %>
    </div>
          
    <div class="">
      <%= f.submit "Log in", :class => 'actions' %>
    </div>
    
  <% end %>
  <%= render "devise/shared/links" %>

</div>
        
<style>
  body {
     background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
</style>