<div class="login">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
  
    <h1 style="color: white;">Login</h1>   
  
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
          
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
          
    <div class="">
      <%= f.submit "Log in", :class => 'actions' %>
    </div>
    
  <% end %>
  <%= render "devise/shared/links" %>

</div>
        
<style>
  body {
    background-color: #235277;
  }
</style>