<!DOCTYPE html>
<html>
<head>
  
  <title> 
  YOSTUDENT
  </title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
  
  <%= render '/layouts/nav' %>
  <% if params[:id] != nil %>
  <% @url= '/user/' + params[:id] %>
  <% if current_page?(@url) %>
    <img src="/bg.jpg" class="Profile-BG">
    <div class="row "> 
      <div class="col-md-12 content-bar-pr" style=" background-color: black;">
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-6 this-show">
          
          <div class="col-sm-2 this-profile-show">
            Followers
            <div class="this-sub-info">
              <h6 style="color: #008484; font-size: 200%;">  
                1M+
              </h6>
            </div>
          </div>
          
          <div class="col-sm-2 this-profile-show">
            Following
            <div class="this-sub-info">
              <h6 style="color: #008484; font-size: 200%;">  
                260
              </h6>
            </div>
          </div>
          
          <div class="col-sm-2 this-profile-show">
            Partnerships
            <div class="this-sub-info">
              <h6 style="color: #008484; font-size: 200%;">  
                2
              </h6>
            </div>
          </div>
          
          <div class="col-sm-2 this-profile-show">
            Sponsors
            <div class="this-sub-info">
              <h6 style="color: #008484; font-size: 200%;">  
                2
              </h6>
            </div>
          </div>
          
          
          
          
        </div>
      </div>
    </div>
  <% end %>
  <% end %>  
  
  <div class="container">
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
    <%= yield %>
  </div>
  
</body>
</html>
