<!DOCTYPE html>
<html>
<head>
  
  <title> 
  YOSTUDENT
  </title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
  
  <%= render '/layouts/nav' %>
  <% if params[:id] != nil %>
  <% @url= '/user/' + params[:id] %>
    <% if current_page?(@url) %>
      <img class="Profile-BG" src="/bg.jpg">
      
      <div class="row">  
        <div class="col-md-12" class="pro-bar">
          <div class="container">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6"> 
              <div class="col-sm-2"></div>
            </div>
          </div>
        </div>
      </div>
      
    <% end %>
  <% end %>  
  
  <div class="container">
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
    <%= yield %>
  </div>
  
</body>
</html>
